footer{
    @include flex(row, space-between, center);
    background-color: $color-footer;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    div{
        ul{
            display: flex;
            align-items: center;
            list-style: none;
        }
        li{
            a{
                text-decoration: none;
                padding: 1.875rem;
                &:hover{
                    color: whitesmoke
                }
            }
        }
    }
}
