header{
    background-color: $color-header;
    @include flex(row, space-between, center);
    width: 100%;
    padding: 1.25rem 1.25rem;
    div{
        a{
            img{
                width: 7.5rem; 
                margin-left: 6.25rem; 
            }
        }
    }

}

nav{
    ul{
        @include flex(row, none, none);
        li{
            list-style: none;
            a{
                text-decoration: none;
                background-color: $color-ancla-header;
                border: .125rem solid $color-ancla-header;
                border-radius: 1.25rem;
                padding: .625rem;
                margin: .625rem;
                margin-right: 6.25rem;
                &:hover{
                    color: whitesmoke;
                }
            }
        }
    }
}