*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box; }

.conteiner.card{
    background-image: url(../assets/img/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}